
/* selector.module.css */
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-color: white;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.logoContainer {
  display: flex;
  justify-content: center; /* Center logo horizontally */
  align-items: center; /* Center items vertically */
  position: absolute;
  top: 3%; /* Adjust top position as needed */
  left: 8%;
  transform: translateX(-50%);
  z-index: 1; /* Ensure the logo is above the buttons */
}

.logo {
  width: 200px; /* Adjust width as needed */
  height: 100px; /* Automatically adjust height */
}

.button {
  flex-grow: 1;
  height: 65%;
  background-color: transparent; /* Set background color to transparent */
  color: white;
  font-size: 1.3em; /* Increase font size */
  border: 2px solid transparent; /* Set border to transparent by default */
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 30%;
  transform-origin: 50% 50%;
  transition: transform 0.1s ease, color 0.1s ease, border-color 0.1s ease; /* Add border-color transition */
  padding: 3%;
  margin-top: 12%; /* Adjust margin-top to move the buttons downwards */
  animation: moveInFromBelow 1s ease-out forwards; /* Add animation */
}

@keyframes moveInFromBelow {
  from {
    top: 100%;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.closeButton:hover {
  background-color: #f0f0f0;
}

.loading-message {
  font-size: 16px;
  color: #333; /* Adjust color as needed */
  margin-top: 15px; /* Add margin for spacing */
}

.customer,
.business {
  font-style: normal; /* Set font style to normal */
}

/* .customer {
  transform: skewX(-10deg);
}

.business {
  transform: skewX(-10deg);
}

.channelPartner {
  transform: skewX(-10deg);
} */

.button:hover {
  transform: skewX(-0deg) scale(1.1); 
  color: rgba(255, 255, 255, 1); 
  
  /* border-color: black;  */
  border-radius: 30px;
}

.trustMessage {
  font-size: 15px;
  color: #0c438b;
  margin-top: 8px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formModal {
  position: fixed;
  width: 22%;
  top: 60%;
  left: 18%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.formModal h2 {
  margin-bottom: 20px;
  font-family: sans-serif;
  text-align: center;
}

.formModal input[type="text"],
.formModal input[type="email"],
.formModal input[type="tel"],
.formModal textarea {
  width: calc(100% - 20px);
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: sans-serif;
}

.formModal textarea {
  resize: vertical;
}

.formModal2 {
  position: fixed;
  width: 22%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.formModal2 h2 {
  margin-bottom: 20px;
  font-family: sans-serif;
  text-align: center;
}

.formModal2 input[type="text"],
.formModal2 input[type="email"],
.formModal2 input[type="tel"],
.formModal2 textarea {
  width: calc(100% - 20px);
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: sans-serif;
}

.formModal2 textarea {
  resize: vertical;
}

.submitButton {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.submitButton:hover {
  background-color: #0056b3;
}

.successMessage, .errorMessage {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 8px;
  border-radius: 4px;
  font-family: sans-serif;
}

.successMessage {
  color: #4ab84d; /* Green */
  background-color: #e8f5e9; /* Light green */
  border: 1px solid #81c784; /* Dark green */
  font-size: 18px;
}

.errorMessage {
  color: #f44336; /* Red */
  background-color: #ffebee; /* Light red */
  border: 1px solid #e57373; /* Dark red */
  font-size: 18px;
}

.formModal1 {
  position: fixed;
  width: 28%;
  top: 55%;
  left: 82%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.formModal1 input[type="text"],
.formModal1 input[type="email"],
.formModal1 input[type="tel"],
.formModal1 textarea {
  width: calc(100% - 20px);
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: sans-serif;
}

.formModal1 textarea {
  resize: vertical;
}

.formModal1 h2 {
  margin-top: 20px;
  font-family: sans-serif;
  text-align: center;
}

.submitButton1 {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.submitButton1:hover {
  background-color: #0056b3;
}



/* selector.module.css */

.selectCategory {
  width: 100%; /* Make the dropdown full width */
  margin: 10px 0; /* Add margin for spacing */
  padding: 10px; /* Add padding for spacing */
  border: 1px solid #ccc; /* Add border */
  border-radius: 5px; /* Add border radius */
  font-family: sans-serif; /* Set font family */
}

.selectCategory option {
  padding: 10px; /* Add padding for spacing */
  font-family: sans-serif; /* Set font family */
}

.selectCategory:focus {
  outline: none; /* Remove outline on focus */
  border-color: #007bff; /* Change border color on focus */
}

.selectCategory::placeholder {
  color: #ccc; /* Change placeholder color */
}

/* Adjustments for "Other" option */
.otherInput {
  display: block; /* Display the input field */
  width: 100%; /* Make the input field full width */
  margin-top: 10px; /* Add margin for spacing */
  padding: 10px; /* Add padding for spacing */
  border: 1px solid #ccc; /* Add border */
  border-radius: 5px; /* Add border radius */
  font-family: sans-serif; /* Set font family */
}

.otherInput:focus {
  outline: none; /* Remove outline on focus */
  border-color: #007bff; /* Change border color on focus */
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999; /* Adjust based on your modal's z-index */
}












































@media only screen and (max-width: 768px) {
  .container {
    height: auto; /* Change height to auto */
    flex-direction: column; /* Change flex direction to column for smaller screens */
    align-items: center; /* Center items horizontally */
  }

  .logoContainer {
    position: static; /* Remove absolute positioning */
    transform: none; /* Remove translateX */
    margin-top: 10px; /* Add margin for spacing */
  }

  .button {
    width: 100%; /* Adjust button width */
    margin: 10px 0; /* Add vertical margin between buttons */
    text-align: center; /* Center text within buttons */
    transform: none; /* Remove the skew effect */
    animation: none; /* Remove any existing animation */
    position: relative; /* Ensure relative positioning for animations */
  }
  .button:hover {
     border-color: black; 
    border-radius: 30px;
  }

  .button:nth-of-type(1) {
    animation: moveInFromLeft 1s ease-out forwards; /* Add animation for the first button */
  }

  .button:nth-of-type(2) {
    animation: moveInFromRight 1s ease-out forwards; /* Add animation for the second button */
  }

  .button:nth-of-type(3) {
    animation: moveInFromLeft 1s ease-out forwards; /* Add animation for the third button */
  }

  @keyframes moveInFromLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes moveInFromRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .formModal,
  .formModal2,
  .formModal1 {
    width: 80%; /* Adjust modal width */
    left: 50%;
    transform: translate(-50%, -50%); /* Center horizontally and vertically */
    top: 50%; /* Center vertically */
    overflow-y: auto; /* Enable vertical scrolling */
  }

  .formModal1 .inputGroup input {
    width: 100%; /* Set input width to 100% for smaller screens */
    margin: 5px 0; /* Adjust margin */
  }

  .submitButton1 {
    margin-top: 20px; /* Adjust margin top */
    width: auto; /* Set button width to auto */
    display: inline-block; /* Ensure button is displayed inline */
  }
  
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999; /* Adjust based on your modal's z-index */
}
}
